.container {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.content {
  height: 60rem;
  width: 50rem;
  padding: 2.5rem;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.image {
  text-align: center;
}

.image svg {
  width: 30rem;
  height: 30rem;
}

.inputCode {
  margin-bottom: 3rem;
}

.submitButton {
  height: 5rem;
}

.submitButton button {
  height: 100%;
}

.submitButton button {
  cursor: pointer;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.6rem;
  outline: none;
  border-radius: 25px;
}

.submitButton button:hover {
  background-color: #57b894;
  color: #ffffff;
}

.submitButton button:focus {
  background-color: #57b894;
  color: #ffffff;
}
