.logoAbound {
  /* background: #c4b0a2; */
  margin-top: 2rem;
  width: 20rem;
  height: 10rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 2rem;
}

/* .menuItemStyles {
  margin-top: 12rem;
}

.menuItemStyles li {
  color: #000;
  background-color: #fff;
  width: 250px !important;
  margin: 0 auto;
  margin-bottom: 3rem !important;
  border-radius: 20px;
}

.menuItemStyles li:active {
  background-color: #000 !important;
}

.menuItemStyles li a {
  color: #000;
}

.menuItemStyles li:hover {
  color: #fff !important;
  background-color: #0c9fb3;
}

.menuItemStyles li:hover .menuItemStyles li:hover svg,
.menuItemStyles li:hover a {
  color: #fff !important;
}

.menuItemStyles li svg {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.menuItemStyles li div:first-child {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.menuItemStyles li ul:not(:first-child) {
  color: #fff !important;
  background-color: #0c9fb3;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 2rem 1rem;
}

.menuItemStyles li ul {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
} */

.menuStyles {
  color: white;
  font-size: 16px;
  margin-top: 10rem;
}

.menuStyles svg {
  width: 18px;
  height: 18px;
  margin-right: 1rem;
}

.menuStyles li ul {
  background: rgb(1, 130, 148) !important;
}

.menuStyles li ul li a {
  color: white !important;
}

.menuStyles li div i {
  color: #fff !important;
}

.menuStyles li:hover div {
  color: #fff !important;
}

.menuStyles li:active span {
  color: #fff !important;
}

.menuStyles li ul li:hover {
  color: #fff !important;
  background-color: #0c9fb3;
}

.menuStyles li ul li:hover .menuStyles li ul li:hover svg,
.menuStyles li ul li:hover a {
  color: #fff !important;
}

.menuStyles li:active .menuStyles li:active svg,
.menuStyles li:active a {
  color: #fff !important;
}
