:root {
  --black: #182538;
  --greyblue: #6b7a90;
  --blue: #5763d8;
  --lightgrey: #d0d3f2;
  --white: #fff;
  --offwhite: #f5f6fd;
}

.scrollStyle::-webkit-scrollbar {
  width: 6px !important ;
  height: 6px !important;
}

.header svg {
  width: 10%;
  height: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

.headerLogo {
  cursor: pointer;
}

.headerCenterNav {
  padding-left: 5%;
}

.headerCenterList {
  display: inline-block;
  padding-top: 10px;
  padding-left: 40px;
}

.headerCenterLink {
  color: #396cf0;
  font-size: 2rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(src/assets/images/home-bg-img.svg) right no-repeat;
  background-size: cover;
  padding: 0 10%;
}

.homeTitle {
  font-size: 5.5rem;
  font-weight: bold;
  color: var(--black);
  /* text-transform: uppercase; */
}

.homeDescription {
  font-size: 1.7rem;
  color: var(--greyblue);
  padding: 1rem 0;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  background: var(--blue);
  font-size: 1.7rem;
  color: var(--white);
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}

.btn:hover {
  transform: scale(1.1);
}

.homeImage {
  width: 40vw;
  margin-right: 20%;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3.5rem);
  }
}

.heading {
  text-align: center;
  background: var(--black);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding-top: 3rem;
}

.featureBoxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px 5% 9% 5%;
}

.featuresBoxContainerBox {
  flex: 2 2 30rem;
  background: var(--offwhite);
  border-radius: 20%;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  padding: 3rem 2rem;
  text-align: center;
  transition: 0.2s linear;
}

.featuresBoxImg {
  height: 20rem;
}

.featuresBoxH3 {
  font-size: 2rem;
  color: var(--black);
  padding-top: 1rem;
}

.featuresBoxP {
  font-size: 1.3rem;
  color: var(--greyblue);
  padding: 1rem 0;
}

.about {
  background: url(src/assets/images/about-bg.svg) no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
  /* height: 100vh; */
}

.aboutColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.aboutDivImage {
  flex: 1 1 30rem;
}

.aboutImage {
  width: 100%;
}

.aboutContent {
  flex: 1 1 40rem;
}

.aboutContentH3 {
  font-size: 3rem;
  color: var(--black);
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.aboutContentP {
  font-size: 1.5rem;
  color: var(--greyblue);
  padding: 0.5rem 0;
}

.btn:last-child {
  margin-left: 1rem;
}

.integrateContainer {
  padding: 5% 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(src/assets/images/integrate-bg.svg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.integrateLeft {
  margin-right: 5%;
  flex-basis: 500px;
}

.specialContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.specialBox {
  flex: 1 1;
  margin: 1rem;
  padding: 1rem;
  background: var(--offwhite);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  /* text-align: center; */
  padding-bottom: 3rem;
}

.specialBoxTitle {
  color: var(--black);
  font-size: 2.5rem;
  padding-top: 1rem;
}

.specialUl {
  list-style: none;
}

.specialLi {
  font-size: 1.5rem;
  color: var(--greyblue);
  padding: 0.5rem 0;
}

.footerBox {
  padding-top: 1rem;
  background: url(src/assets/images/integrate-bg.svg) repeat;
  background-size: cover;
  background-position: center;
}

.footerDetail {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  color: var(--black);
  /* border-top: 0.1rem solid #fff; */
  padding: 2.5rem 1rem;
  text-align: center;
}

/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 0 3%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
  }
  .headerCenterList {
    display: none;
  }
}

@media (max-width: 768px) {
  .home {
    flex-flow: column-reverse;
  }

  .homeImage {
    width: 100%;
  }

  .about {
    background-position: right;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .btn {
    width: 100%;
    text-align: center;
  }

  .btn:last-child {
    margin: 1rem 0;
  }
}
