.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rowModal {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.rowModal input {
  border-radius: 0.8rem;
  width: 67.75%;
}

.rowText {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rowSelect {
  border-radius: 0.8rem;
  width: 67.75%;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}

.rowSelect div div {
  border: none !important;
}

.rowModal textarea {
  border-radius: 0.8rem;
  width: 67.75%;
}

.rowInput {
  border-radius: 0.8rem;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}
.rowInput div {
  border: none !important;
}

.rowModalFooter {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 96%;
}

.rowModalFooterSide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 47%;
}

.rowModalFooterSide h4 {
  width: 60%;
}

.rowModalFooterSide .selectBl5 {
  min-width: 40%;
}
