.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rowModal {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.rowModal input {
  border-radius: 0.8rem;
  width: 67.75%;
}

.rowText {
  width: 30%;
  color: rgb(134, 134, 134);
}

.rowSelect {
  border-radius: 0.8rem;
  width: 67.75%;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}

.rowSelect div div {
  border: none !important;
}

.buttonSearch {
  background-color: #0d9caf;
  color: #fff;
  border-radius: 15px;
  height: 40px;
}

.rowHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonSearch div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttonSearch div svg {
  background-color: #fff;
  color: #087c8b;
  border-radius: 5px;
  margin: 1px;
}
