.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formChoice {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.formBtn {
  display: flex;
  justify-content: space-between;
}

.formBtnItem {
  width: 47%;
}

.formBtnItem svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.formBtnItem span {
  vertical-align: middle;
}

.formAction {
  box-shadow: 0 3px 5px 0 rgba(57, 108, 240, 0.3);
}

.formBtnLeft {
  width: 47%;
}

.formBtnRight {
  width: 47%;
}

.formText > h3 {
  text-align: center;
  color: #8492a6;
}

.buttonStyle {
  border-radius: 6px;
  background-color: rgba(57, 108, 240, 0.1);
  border-color: rgba(57, 108, 240, 0.1);
  color: #396cf0;
  box-shadow: 0 3px 5px 0 rgba(57, 108, 240, 0.3);
}
