.container {
}

.contentTop {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.left {
  width: 47%;
}

.right {
  width: 47%;
}

.rightItem {
  margin-bottom: 1rem;
}

.rightItem h3 {
  display: inline-block;
  margin-right: 3rem;
}
