@import '~antd/dist/antd.css';
// @font-face {
//   font-family: 'Inter';
//   src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('woff2 supports variations'),
//     url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('woff2-variations');
//   font-weight: 100 900;
// }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

$color-active: #c5edee;
$color-danger: #ff4d4f;
$color-action: #0d9caf;
$color-inactive: #e47083;

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  background-color: #f7f8fb;
  color: rgba(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: #ee4d2d;
  font-size: 1.4rem;
  cursor: pointer;
}

ul {
  list-style: none;
}

:focus-visible {
  outline: none;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

a {
  text-decoration: none;
}

// svg {
//   width: 1rem;
//   height: 1rem;
//   fill: currentColor;
// }

label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.btn {
  & {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
  }

  &-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }

  &-danger {
    &,
    &:hover,
    &:focus {
      width: 11rem;
      color: #fff;
      border-color: $color-danger;
      background: $color-danger;
    }
  }

  &-active {
    &,
    &:hover,
    &:focus {
      width: 11rem;
      color: #33c5c2;
      background-color: $color-active;
      border-color: $color-active;
    }
  }

  &-edit {
    &,
    &:hover,
    &:focus {
      background-color: #6bbcb3;
      border-color: #6bbcb3;
    }
  }

  &-grey {
    &,
    &:hover,
    &:focus {
      border-color: transparent;
      background: #8897aa;
      color: #fff;
    }
  }

  &-inactive {
    &,
    &:hover,
    &:focus {
      width: 11rem;
      background: #ffe8ec;
      border-color: #ffe8ec;
      color: $color-inactive;
    }
  }
  &-cancel {
    &,
    &:hover,
    &:focus {
      width: 11rem;
      background: #8897aa;
      border-color: #8897aa;
      color: #fff;
    }
  }

  &-action {
    &,
    &:hover,
    &:focus {
      border-color: $color-action;
      color: #fff;
      background-color: $color-action;
    }
  }
}

.icon- {
  &plus {
    background-color: #fff;
    color: $color-action;
    border-radius: 5px;
    font-size: large;
  }
}

.b {
  &r- {
    &5 {
      border-radius: 5px;
    }

    &8 {
      border-radius: 8px;
    }

    &10 {
      border-radius: 10px;
    }

    &15 {
      border-radius: 15px;
    }
  }
}

.p {
  &-0 {
    padding: 0 !important;
  }

  &x- {
    &1 {
      padding: 0 0.5rem;
    }

    &2 {
      padding: 0 1rem;
    }

    &3 {
      padding: 0 1.5rem;
    }

    &4 {
      padding: 0 2rem;
    }
  }

  &y- {
    &1 {
      padding: 0.5rem 0;
    }

    &2 {
      padding: 1rem 0;
    }

    &3 {
      padding: 1.5rem 0;
    }

    &4 {
      padding: 2rem 0;
    }
  }

  &b- {
    &1 {
      padding-bottom: 0.5rem;
    }

    &2 {
      padding-bottom: 1rem;
    }

    &3 {
      padding-bottom: 1.5rem;
    }

    &4 {
      padding-bottom: 2rem;
    }
  }

  &l- {
    &1 {
      padding-left: 0.5rem;
    }

    &2 {
      padding-left: 1rem;
    }

    &3 {
      padding-left: 1.5rem;
    }

    &4 {
      padding-left: 2rem;
    }
  }

  &r- {
    &1 {
      padding-right: 0.5rem;
    }

    &2 {
      padding-right: 1rem;
    }

    &3 {
      padding-right: 1.5rem;
    }

    &4 {
      padding-right: 2rem;
    }
  }
}

.d {
  &-flex {
    display: flex;
  }
}

.m {
  &-auto {
    margin: auto;
  }

  &-0 {
    margin: 0 !important;
  }

  &x- {
    &1 {
      margin: 0 0.5rem;
    }

    &2 {
      margin: 0 1rem;
    }

    &3 {
      margin: 0 1.5rem;
    }

    &4 {
      margin: 0 2rem;
    }
  }

  &y- {
    &1 {
      margin: 0.5rem 0;
    }

    &2 {
      margin: 1rem 0;
    }

    &3 {
      margin: 1.5rem 0;
    }

    &4 {
      margin: 2rem 0;
    }
  }

  &l- {
    &1 {
      margin-left: 0.5rem;
    }

    &2 {
      margin-left: 1rem;
    }

    &3 {
      margin-left: 1.5rem;
    }

    &4 {
      margin-left: 2rem;
    }
  }

  &t- {
    &1 {
      margin-top: 0.5rem;
    }

    &2 {
      margin-top: 1rem;
    }

    &3 {
      margin-top: 1.5rem;
    }

    &4 {
      margin-top: 2rem;
    }
  }

  &b- {
    &1 {
      margin-bottom: 0.5rem;
    }

    &2 {
      margin-bottom: 1rem;
    }

    &3 {
      margin-bottom: 1.5rem;
    }

    &4 {
      margin-bottom: 2rem;
    }
  }

  &r- {
    &1 {
      margin-right: 0.5rem;
    }

    &2 {
      margin-right: 1rem;
    }

    &3 {
      margin-right: 1.5rem;
    }

    &4 {
      margin-right: 2rem;
    }
  }
}

.w- {
  &5 {
    width: 5%;
  }
  &10 {
    width: 10%;
  }
  &15 {
    width: 15%;
  }
  &20 {
    width: 20%;
  }
  &25 {
    width: 25%;
  }
  &30 {
    width: 30%;
  }
  &40 {
    width: 40%;
  }
  &50 {
    width: 50%;
  }
  &70 {
    width: 70%;
  }
  &100 {
    width: 100%;
  }
}

.h- {
  &100 {
    height: 100%;
  }

  &80 {
    height: 80%;
  }
}

.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.text {
  &-center {
    text-align: center;
  }

  &-white {
    color: #fff !important;
  }

  &-black {
    color: #000 !important;
  }

  &-danger {
    color: #d9534f;
  }

  &-top {
    vertical-align: top;
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}
.justify-content {
  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between !important;
  }

  &-end {
    justify-content: flex-end !important;
  }
}

.modal {
  &-center {
    &-header {
      & .ant-modal-header {
        display: flex;
        justify-content: center;
      }
    }

    &-footer {
      & .ant-modal-footer {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.font {
  &-weight {
    &-bold {
      font-weight: bold;
    }
    &-500 {
      font-weight: 500;
    }
  }
  &-4re {
    font-size: 4rem;
  }
  &-2re {
    font-size: 2rem;
  }
}

.collapse {
  &-header {
    &-90 {
      .ant-collapse-header .ant-collapse-header-text {
        width: 90% !important;
      }
    }
    &-80 {
      .ant-collapse-header .ant-collapse-header-text {
        width: 80% !important;
      }
    }
    &-extra {
      &-10 {
        .ant-collapse-header .ant-collapse-extra {
          width: 10% !important;
        }
      }
      &-28 {
        .ant-collapse-header .ant-collapse-extra {
          width: 28% !important;
        }
      }
      &-flex {
        .ant-collapse-header .ant-collapse-extra {
          display: flex !important;
        }
      }
    }
  }
}

// custom antd

.ant-menu-submenu-selected {
  color: #fff !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #0c9fb3;
}

.ant-select-selection-item {
  color: #000;
}

textarea {
  color: #000;
}

// .ant-switch-checked {
//   background-color: #33c5c2 !important;
// }

.switch-custom-inactive {
  background-color: #13b375;
}

.switch-custom-active {
  background-color: #e47083;
  background-image: none;
}

// .ant-table-thead th {
//   text-align: center !important;
// }

// style scroll bar

.ant-scrolling-effect {
  width: calc(100%) !important;
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100rem;
  background-color: rgb(233, 194, 214);
}

body::-webkit-scrollbar-track {
  border-radius: 100rem;
  background-color: #ccc;
}

// style navbar

.ant-menu-submenu-inline {
  font-size: 15px;
  font-weight: bold;
}

.ant-menu-item-only-child {
  font-size: 14px !important;
  font-weight: normal;
  margin-left: 3rem;
}

// style title error page
.ant-result-subtitle {
  font-size: 18px;
  font-weight: bold;
}

// styling important tag
.importantInfor {
  color: #ee4444;
  margin-left: 4px;
}

.rowText {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// styling for grade
.grade {
  color: #ff9f00;
  font-weight: bold;
  font-size: 16px;
}
