.border-radius- {
  &paging {
    li,
    button {
      border-radius: 8px !important;
    }
  }
  &select {
    .ant-select-selector {
      border-radius: 8px !important;
    }
  }
}

.datePicker {
  width: 100% !important;
  border: none !important;
}
