.modalContent {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modalIcon {
  width: 5rem;
  height: 5rem;
  margin: auto;
  color: #53c797;
}

.modalCircle {
  width: 10rem;
  height: 10rem;
  background-color: rgba(83, 199, 151, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.modalText {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.modalIconFail {
  width: 5rem;
  height: 5rem;
  margin: auto;
  color: #f0735a;
}

.modalCircleFail {
  width: 10rem;
  height: 10rem;
  background-color: rgba(240, 115, 90, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 2rem;
}
