:root {
  --primary-color: #4ea685;
  --secondary-color: #57b894;
  --black: #000000;
  --white: #ffffff;
  --gray: #efefef;
  --gray-2: #757575;

  --facebook-color: #4267b2;
  --google-color: #db4437;
  --twitter-color: #1da1f2;
  --insta-color: #e1306c;
}

.alignItemsCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 13rem;
}

.logo svg {
  width: 20rem;
  height: 15rem;
}

.flexCol {
  flex-direction: column;
}

.container {
  height: 100vh;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.col {
  width: 50%;
  height: 100vh;
}

.formWrapper {
  width: 100%;
  width: 42rem;
}

.form {
  padding: 1.6rem;
  background-color: var(--white);
  border-radius: 2.4rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inputGroup {
  position: relative;
  width: 100%;
  margin: 1.6rem 0;
}

.inputGroup svg {
  position: absolute;
  top: 50%;
  left: 1.6rem;
  transform: translateY(-50%);
  font-size: 1.8rem;
  color: var(--gray-2);
}

/* .inputGroup input {
  width: 100%;
  padding: 1.6rem 4.8rem;
  font-size: 1.6rem;
  background-color: var(--gray);
  border-radius: 0.8rem;
  border: 0.125rem solid var(--white);
  transition: all 0.2s ease-in-out;
}

.inputGroup input:focus {
  border: 0.125rem solid var(--primary-color);
} */

.form button {
  cursor: pointer;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.6rem;
  outline: none;
}

.form button:hover {
  background-color: #57b894;
  color: #ffffff;
}

.form button:focus {
  background-color: #57b894;
  color: #ffffff;
}

.form p {
  margin: 1.2rem 0;
  font-size: 1.4rem;
}

.form p span {
  margin-right: 1.5rem;
}

.form p a {
  color: #000000;
  font-weight: bold;
}

.socialList {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 1.5rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.socialList > div {
  color: var(--white);
  margin: 0 0.8rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  cursor: pointer;
}

.socialList div svg {
  font-size: 2rem;
  transition: 0.4s ease-in-out;
}

.socialList > div:hover svg {
  transform: scale(1.5);
}

.iconGitlab {
  background-color: #db4437;
}
.iconGoogle {
  background-color: var(--facebook-color);
}

.contentRow {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 6;
  width: 100%;
}

.text {
  margin: 0 4rem;
  color: var(--white);
}

.text h2 {
  font-size: 4rem;
  font-weight: 800;
  margin: 2rem 0;
  color: var(--white);
}

.text p {
  font-weight: 600;
  padding: 2rem;
  font-size: 1.6rem;
}
.img img {
  margin-top: 2rem;
  width: 30vw;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  background-image: linear-gradient(-45deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  transition: 1s ease-in-out;
  z-index: 6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateX(-50%);
  border-bottom-right-radius: max(50vw, 50vh);
  border-top-left-radius: max(50vw, 50vh);
}

.textBottom {
  color: #000000 !important;
  font-size: 1.6rem;
  font-weight: bold;
}
