.profile {
  &Banner {
    padding: 32px 32px 88px;
    margin: -24px;
    margin-bottom: -58px;
    background-color: #003366;
    color: #ffffff;
    position: relative;

    & > div {
      position: relative;
      z-index: 2;
    }

    &Top {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      flex-wrap: wrap;

      &Left {
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        position: relative;
      }

      &Right {
        text-align: center;
        margin-left: auto;
      }
    }

    &Avatar {
      margin-right: 1.5rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #f56a00;
      background-color: #fde3cf !important;
      height: 90px !important;
      width: 90px !important;
      cursor: pointer;
      line-height: 90px !important;

      &Info {
      }
    }

    &Name {
      font-weight: 300;
      color: #ffffff;
      font-size: 24px;
      line-height: 1.3;
      margin-bottom: 1rem !important;
      margin-top: 0;
    }
    &Address {
      font-size: 16px;
      line-height: 1;
      margin-bottom: 0 !important;
    }
    &Statistic {
      margin: 0 -20px;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding-left: 0;
      & li {
        color: #ffffff;
        padding: 0 20px;
        width: auto;
      }
      &Value {
        color: #ffffff;
        display: block;
        line-height: 1;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }

  &Container {
  }

  &Content {
    position: relative;
    z-index: 2;
  }
}

.card {
  &Widget {
    margin-right: 2rem;
    margin-left: 2rem;
    border: 0 none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
  }
  &Content {
    &Holder {
      flex: auto;
      min-width: 0;
      min-height: 0;
    }
    &Item {
      margin-top: 1.5rem !important;
      margin-bottom: 0.5rem !important;
      flex-wrap: nowrap !important;
      display: flex;
      align-items: flex-start;
    }
  }
  &Contact {
    &Holder {
      display: flex;
      flex-direction: column;
    }
  }
}
.link {
  color: #038fde;
  cursor: pointer;
}

.avatarEdit {
  position: absolute;
  top: 65%;
  & span {
    font-size: 30px;
    color: #fff;
    & svg {
      width: 15px;
      height: 15px;
    }
  }
}

.iconEdit {
  cursor: pointer;
  background-color: #40c2bb;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}
