.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rowModal {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.5rem;
  align-items: stretch;
}

.rowText {
  width: 30%;
  color: rgb(134, 134, 134);
}

.content {
  width: 60%;
}
