.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rowModal {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.rowModal input {
  border-radius: 0.8rem;
  width: 67.75%;
}

.rowText {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rowSelect {
  border-radius: 0.8rem;
  width: 67.75%;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}

.rowSelect div div {
  border: none !important;
}

.rowModal textarea {
  border-radius: 0.8rem;
  width: 67.75%;
}
