.buttonSearch {
  background-color: #0d9caf;
  color: #fff;
  border-radius: 15px;
  height: 40px;
}

.rowHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonSearch div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttonSearch div svg {
  background-color: #fff;
  color: #087c8b;
  border-radius: 5px;
  margin: 1px;
}
