.settingButton {
  /* background-color: #018294; */
  border: 2px solid #018294;
  margin-bottom: 3rem;
  border-radius: 10px;
  padding: 1rem;
  color: #000;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.settingButtonIcon {
  background-color: #018294;
  margin-left: 1rem;
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.settingButtonIcon svg {
  width: 2rem;
  height: 2rem;
}

.settingButtonText {
  color: #000;
  margin: auto 0;
}

.settingButton:hover {
  background-color: #018294;
  color: #fff;
}
.settingButton:hover .settingButtonText {
  color: #fff;
}

.settingButton:hover .settingButtonIcon {
  background-color: #fff;
  color: #018294;
}
