/* .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  cursor: pointer;
}

.logo svg {
  float: left;
  width: 120px;
  height: 31px;
} */

.header {
  height: 8vh;
  background-color: #f5f6fd;
  /* box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%); */
  z-index: 5;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.siteLayoutBackground {
  background-color: #fff;
  min-height: 100vh;
}
.sidebar {
  background: #018294;
  min-height: 100vh;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
